body {
  background-color: #28afb0;
  font-family: "Lato", sans-serif;
}
section {
  background-color: #f4d35e;
  border-radius: 5px;
  height: 4rem;
  margin: 2rem;
  display: flex;
  justify-content: space-around;
}
header {
  font-family: "Yusei Magic", sans-serif;
  text-align: center;
  color: #1f271b;
  font-size: 3rem;
}
.info {
  padding: 1.5rem;
}
button.info {
  background-color: #19647e;
}

/*
black: #1F271B
dark blue: #19647E
light blue: #28AFB0
yellow: #F4D35E
orange: #EE964B
*/
