@import url(fontawesome-all.min.css);

body {
  background-color: #28afb0;
  font-family: "Lato", sans-serif;
}
section {
  background-color: #f4d35e;
  border-radius: 5px;
  height: 4rem;
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
}
h1 {
  font-family: "Yusei Magic", sans-serif;
  text-align: center;
  color: #1f271b;
  font-size: 3rem;
}
.info {
  padding: 0rem;
}
button {
  height: 3rem;
  width: 4rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.text-btn {
  background-color: #19647e;
  color: #f4d35e;
  margin-left: 2rem;
  transition: 500ms;
}
.text-btn:hover {
  background-color: #28afb0;
}
#delete {
  background-color: #f4d35e;
  color: #19647e;
  font-size: 1rem;
}
#delete:hover {
  font-size: 1.5rem;
}
#add {
  background-color: #28afb0;
  color: #ee964b;
  font-size: 3rem;
  position: relative;
  left: 45vw;
  height: 3rem;
  width: 3rem;
  visibility: visible;
  transition: 200ms;
}
#add:hover {
  font-size: 3.5rem;
}
#addForm {
  background-color: #ee964b;
}
form > label {
  margin-right: 0.5rem;
  margin-left: 1rem;
}
#dosage-text {
  margin-right: 0rem;
}
#med-name {
  width: 15em;
}
#input-number {
  width: 2em;
}
/*
black: #1F271B
dark blue: #19647E
light blue: #28AFB0
yellow: #F4D35E
orange: #EE964B
*/
