@import url(fontawesome-all.min.css);

body {
  background-color: #28afb0;
  font-family: "Lato", sans-serif;
}
section {
  background-color: #f4d35e;
  border-radius: 5px;
  height: 4rem;
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
}
header {
  font-family: "Yusei Magic", sans-serif;
  text-align: center;
  color: #1f271b;
  font-size: 3rem;
}
.info {
  padding: 0rem;
}
button {
  height: 3rem;
  width: 4rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
#record {
  background-color: #19647e;
  color: #f4d35e;
}
#record:hover {
  border: solid#EE964B;
}
#delete {
  background-color: #f4d35e;
  color: #ee964b;
}
#delete:hover {
  font-size: 1.5rem;
}
#add {
  background-color: #28afb0;
  color: #19647e;
  font-size: 3rem;
  margin-left: 45%;
}

/*
black: #1F271B
dark blue: #19647E
light blue: #28AFB0
yellow: #F4D35E
orange: #EE964B
*/
